@import "tailwindcss";

@theme {
  --color-primary: #004AAD;
  --color-secondary: #001F3D;
  --color-accent: #00D1FF;
  --color-background: #F4F7FE;
  --color-text-main: #1B254B;
  --color-text-secondary: #A3AED0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  antialiased: true;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}